<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name = "pgno" value = "2"/>
    <classes>
      <class name="com.qa.xoriant.apiDemo.test.CreateUser"/>
      <class name="com.qa.xoriant.apiDemo.test.ListUsers"/>
      <class name="com.qa.xoriant.apiDemo.test.CreateUser_gson_jsonSimple"/>
      <class name="com.qa.xoriant.apiDemo.test.CreateUser_Jackson"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
